:root {
  --primary-color: #b1b1b1;
  --background-color: #282828;
  --text-color: #b1b1b1;
  --input-background: #212121;
  --input-border: #333333;
  --input-placeholder: #333333;
  --input-focus-border: #bb87ff;
  --button-bg: #bb87ff;
  --button-text: #0c0230;
  --output-bg: #282828;
  --task-border: #333333;
  --task-completed: #333333;
}

.container {
  text-align: center;
  max-width: 600px;
  margin: 40px auto;
  color: var(--primary-color);
}

.header {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-container {
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  background-color: var(--input-background);
  border: 2px solid var(--input-border);
  border-radius: 8px;
  margin-right: 10px;
  color: var(--text-color);
  outline: none;
}

input[type="text"]::placeholder {
  color: var(--input-placeholder);
}

input[type="text"]:focus {
  border-color: var(--input-focus-border);
}

button {
  font-weight: bold;
}

.add-button {
  padding: 10px 15px;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  flex-shrink: 0;
}

.add-button i {
  margin-right: 5px;
}

.output-container {
  background-color: var(--output-bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}

.to-do-task {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--task-border);
  width: 100%;
  margin-bottom: 20px;
  font-weight: bold;
}

.to-do-task:last-child {
  margin-bottom: 0;
}

.todo-text {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 50px);
  color: var(--text-color);
}

.completed-task {
  text-decoration: line-through;
  color: var(--task-completed);
}

.delete-button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
  margin-left: auto;
  text-decoration: none;
}
